{% extends 'base.html' %}
{% block header %} 
    <h1>{% block title %} Email enviados {% endblock%}</h1>
{% endblock%}
{% block action %} 
    <a class="button" href="{{ url_for('mail.create') }} ">Nuevo correo</a>
{% endblock%}


{%block content %}
    <ul>
     {% for mail in mails %}
        <li class="mail">
            <div>
                <span class="email"> {{mail[1]}} </span>
                <span class="subject"> {{mail[2]}} </span>
                <hr>
                <p class="mail-content"> {{mail[3]}} </p>
            </div>  
        </li>
     {% endfor %}
    </ul>
{% endblock%}



